 /*LOGO*/
        .logo-container {
            width: 60px;          
            height: 60px;          
            border-radius: 50%;    
            border: 3px solid #333; 
            overflow: hidden;      
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .logo-container img {
            width: 100%;            
            height: 100%;           
            object-fit: cover;      
        }